@font-face {
  font-family: Bebas Neue;
  font-weight: bold;
  src: url('fonts/BebasNeue Bold.otf');
}

body {
  margin: 0px 0px 20px 0px;
  background: #dfdfdf;
  vertical-align: top;
  text-align: center;
  line-height: normal;
}

#body-panel {
  border: 1px solid #d0d0d0;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-45deg, #eaebec 1%, #dff1f5 3%, rgba(198, 241, 245, 0.46) 44%, rgba(32, 178, 186, 0.53) 100%);
  padding: 0 0 25px 0;
  width: 950px;
  height: 1450px;
}

.header-img {
  background: url("https://s26.postimg.org/8xtsw7v89/Screen_Shot_2017-09-11_at_9.36.11_AM.png") no-repeat center;
  height: 583px;
  width: 950px;
  background-size: contain;
  margin-right: 50px;
}

.headline {
  width: 100%;
  height: 86px;
  display: inline-block;
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  width: 95%;
  border: 0;
  border-top: 1px solid #ccc;
  /*margin: 1em 0;*/
  padding: 0;
  margin-top: 20px;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  color: #58585b;
  text-decoration: none solid rgb(88, 88, 91);
}

#open-sans-sm {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #58585b;
  text-decoration: none solid rgb(88, 88, 91);
}

#excel-img {
  padding-bottom: 20px;
  vertical-align: middle;
}

.description {
  float: left;
  width: 45%;
  padding: 0px 20px;
}

.description h3 {
  text-align: center;
  margin-bottom: 10px;
}

.description p {
  width: 80%;
  margin: 0 auto;
}

#team-img {
  width: 80%;
  margin-left: 15px;
}

.team-text {
  text-align: center;
}

.sign-up {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  background: url('https://s26.postimg.org/dl23zbis9/imageedit_4_3164066754.png') no-repeat;
  background-size: contain;
  height: 600px;
  width: 45%;
}

form {
  text-align: left;
  padding: 40px;
  margin-left: 20px;
  margin-top: 20px;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #808284;
  text-decoration: none solid rgb(128, 130, 132);
  text-align: center;
}

.emphasis {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #ff0000;
  text-decoration: none solid rgb(255, 0, 0);
  text-align: center;
}

input {
  width: 85%;
  height: 35px;
  padding: 0px 10px;
  margin-bottom: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

textarea {
  width: 85%;
  height: 100px;
  padding: 0px 10px;
  margin-bottom: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

.button {
  width: 80%;
  height: 48px;
  border: 1px solid #ff6700;
  border-radius: 100px;
  background-color: #ff6700;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  margin: 15px 20px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.button:hover {
  background-color: #cc5200;
}

#footer {
  width: 920px;
  height: 80px;
  background-color: #00BBB9;
  padding: 1rem;
  /*text-align: center;
  display: inline-block;
  margin: 15px auto;*/
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-text {
  float: left;
  width: 40%;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  color: #454547;
  text-decoration: none solid rgb(69, 69, 71);
  margin-bottom: 15px;
}

#dp-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #244289;
  text-decoration: none solid rgb(36, 66, 137);
  text-align: center;
}

#dp-link:hover {
  color: #ff6700;
}

#footer-app-store {
  float: left;
  padding-top: 25px;
  width: 120px;
}

#footer-google-play {
  float: left;
  padding-left: 10px;
  padding-top: 25px;
  width: 120px;
}

.facebook {
  background: url('images/Facebook.svg') no-repeat;
  width: 61px;
  height: 61px;
  margin-top: 15px;
  fill: #454547;
  float: right;
}

.facebook:hover {
  transform: scale(1.2);
}

.twitter {
  background: url('images/Twitter.svg') no-repeat;
  width: 61px;
  height: 61px;
  margin-top: 15px;
  margin-left: 5px;
  fill: #454547;
  float: right;
}

.twitter:hover {
  transform: scale(1.2);
}

.instagram {
  background: url('images/Instagram.svg') no-repeat;
  width: 43px;
  height: 45px;
  margin-top: 23px;
  margin-right: 5px;
  fill: #454547;
  float: right;
}

.instagram:hover {
  transform: scale(1.2);
}

.linkedin {
  background: url('images/LinkedIn.svg') no-repeat;
  width: 61px;
  height: 61px;
  margin-top: 15px;
  margin-right: 8px;
  fill: #454547;
  float: right;
}

.linkedin:hover {
  transform: scale(1.2);
}
